version: 2
updates:
  # Go modules dependencies
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "JonasScholl"
    open-pull-requests-limit: 10
    groups:
      all:
        patterns:
          - "*"

  # GitHub Actions dependencies
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "JonasScholl"
    open-pull-requests-limit: 10
    groups:
      all:
        patterns:
          - "*"
